<!doctype html>
<html lang="en" ng-app="nlpAnnotationViewerApp">

<head>
	<meta charset="utf-8">
	<!-- Redirect to the correct page -->
<!-- 	<meta http-equiv="refresh" content="0; URL='nlp-annotationviewer'" /> -->
	<title>service-nlp-analytics-annotationviewer</title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></link>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js'></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
	<script src="app/nlp-annotationviewer/angularjs-dropdown-multiselect.js"></script>
	<script src="app/annotationviewer/annotationviewer-service.js"></script>
	<script src="app/nlp-annotationviewer/annotationviewer-directives.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- scripts from service pipeline index.jade file for avatar files -->
	<link rel="stylesheet" href="stylesheets/style.css"></link>
	<!-- end of scripts from service pipeline index.jade file for avatar files -->

	<script src="app/app.js"></script>
	<script src="app/routes.js"></script>
	<script src="app/nlp-annotationviewer/nlp-annotationviewer-directives.js"></script>
	<script src="app/nlp-annotationviewer/nlp-annotationviewer-controller.js"></script>
</head>

<body>

	<div ng-view></div>

</body>
</html>
